DB_NAME=talentai_sports
DB_USER=postgres
DB_PASSWORD=admin123
DB_HOST=localhost
DB_PORT=5432

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=yesenia76891683@gmail.com
EMAIL_HOST_PASSWORD=eeqqbybeyujscjoa
DEFAULT_FROM_EMAIL=TalentAI Sports <yesenia76891683@gmail.com>

FRONTEND_URL=http://localhost:5173
PASSWORD_RESET_TOKEN_TTL_MINUTES=60
